.is-live-preview .todoister-id {
	display: none;
}

.plugin-todoister {
	.syncing {
		animation: todoister-syncing 1s infinite;
	}
}

@keyframes todoister-syncing {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
